@model cldv6211proj.Models.UserOrdersModel

@{
    ViewData["Title"] = "Process Orders";
    var curOrders = Model.OrderInfos.Where(oi => !oi.Order.Processed).ToList();
    var pastOrders = Model.OrderInfos.Where(oi => oi.Order.Processed).ToList();
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            @if (curOrders.Count < 1 && pastOrders.Count < 1)
            {
                <h1 class="mb-4">No Orders</h1>
            }
            else
            {
                @if (curOrders.Count > 0)
                {
                    <h1 class="mb-4">Orders</h1>
                    @foreach (var orderInfo in curOrders)
                    {
                        <div class="card mb-3">
                            <div class="card-header">
                                Order #@orderInfo.Order.ID
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between bd-highlight">
                                    <div class="d-flex justify-content-between bd-highlight">
                                        <img src="@orderInfo.Product.ImageURL" alt="@orderInfo.Product.Name"
                                            style="max-height: 123px">
                                        <div class="d-flex flex-column align-items-start px-2 bd-highlight">
                                            <div class="d-flex flex-row">
                                                <h4 class="card-title">@orderInfo.Product.Name</h4>
                                            </div>

                                            <div class="card-text">Date: yyyy-MM-dd</div>
                                            <div class="card-text">Quantity: @orderInfo.Order.Quantity </div>
                                            <div class=" mt-auto">
                                                <form asp-controller="Order" asp-action="ShipOrder" method="post">
                                                    <input type="hidden" name="orderID" value="@orderInfo.Order.ID" />
                                                    <input type="submit" value="Ship" class="btn btn-primary" />
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column align-items-end px-2 bd-highlight">
                                        <div class="d-flex flex-row">
                                            <h5 class="card-title">Recipient Details</h5>
                                        </div>
                                        <div>Name: @orderInfo.Buyer.Name @orderInfo.Buyer.Surname</div>
                                        <div>Address: @orderInfo.Order.Address</div>

                                        <div class="card-text mt-auto">
                                            <span class="badge @GetProcClass(orderInfo.Order.Processed)">
                                                @GetProcStr(orderInfo.Order.Processed)
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                @if (pastOrders.Count > 0)
                {
                    <h1 class="mb-4">Previous Orders</h1>
                    @foreach (var orderInfo in pastOrders)
                    {
                        <div class="card mb-3">
                            <div class="card-header">
                                Order #@orderInfo.Order.ID
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between bd-highlight">
                                    <div class="d-flex justify-content-between bd-highlight">
                                        <img src="@orderInfo.Product.ImageURL" alt="@orderInfo.Product.Name"
                                            style="max-height: 123px">
                                        <div class="d-flex flex-column align-items-start px-2 bd-highlight">
                                            <div class="d-flex flex-row">
                                                <h4 class="card-title">@orderInfo.Product.Name</h4>
                                            </div>
                                            <div class="card-text">Date: yyyy-MM-dd</div>
                                            <div class="card-text ">Quantity: @orderInfo.Order.Quantity </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column align-items-end px-2 bd-highlight">
                                        <div class="card-text">
                                            <span class="badge @GetProcClass(orderInfo.Order.Processed)">
                                                @GetProcStr(orderInfo.Order.Processed)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>

@functions {
    private string GetStatusClass(string status)
    {
        return status switch
        {
            "Delivered" => "bg-success text-white",
            "In Transit" => "bg-warning text-dark",
            "Cancelled" => "bg-danger text-white",
            _ => "bg-secondary text-white"
        };
    }
    private string GetProcClass(bool processed)
    {
        if (!processed)
            return "bg-warning text-dark";
        return "bg-success text-white";
    }
    private string GetProcStr(bool processed)
    {
        if (!processed)
            return "Processing";
        return "Complete";
    }
}
